.card {
  width: 30rem;
  height: 47rem;
  margin: 0.8rem;
}

.card:hover {
  transform: scale(1.1) translateY(-3rem);
  transition: 500ms;
  cursor: pointer;
}

.card h3,
p {
  text-align: center;
  margin-top: 0.5rem;
}

.card p {
  font-size: 1.5rem;
}

.movies-image {
  width: 100%;
  height: 40rem;
}

@media screen and (max-width:500px) {
  .card {
    width: 17rem;
    height: 47rem;
    margin: 0.8rem;
  }
}