.category-title {
  display: flex;
  justify-content: space-between;
}

.category-title div {
  /* background: rgb(42, 42, 241); */
  border: 0.2rem solid rgb(42, 42, 241);
  height: 3rem;
  width: 35%;
}

.category-title div:nth-child(1) {
  /* border-top-right-radius: 3rem; */
  border-bottom-right-radius: 3rem;
  border-left: none;
}

.category-title__last-div {
  border-top-left-radius: 3rem;
  border-right: none;
}

.category-title h3 {
  font-family: "Bungee Inline", cursive;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}
